@model SimpleQA.SimpleQAException

@{
    Exception inner = Model.InnerException;
    var aex = inner as AggregateException;
    if(aex != null)
    {
        inner = aex.Flatten().InnerExceptions.First();
    }
    
    ViewBag.Title = "Unexpected error";
    var badRequest = Model as SimpleQABadRequestException;
}

<h2>An error has ocurred</h2>
<p>@Model.Message</p>
<p>Your error identificator is '@Model.Id', please quote it if you need contact support.</p>

<hr/>

@if (badRequest != null)
{
    <ul>
        @foreach (var error in badRequest.Errors)
        {
            <li>@error.ErrorMessage</li>
        }
    </ul>
}

@if (Model.StackTrace != null)
{
    <h3>Stack Trace</h3>
    <div class="stacktrace">
        @foreach(var line in Model.StackTrace.Split('\r'))
        {
        <div>@line</div>
        }
    </div>
}

@if (inner != null)
{
    <h3>@inner.Message Stack Trace</h3>
    <div class="stacktrace">
        @foreach (var line in inner.StackTrace.Split('\r'))
        {
        <div>@line</div>
        }
    </div>
}
